<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="coding.faizal.ecommerce">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" /> <!-- <uses-permission android:name="android.permission.EXPAND_STATUS_BAR" /> -->
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:name=".di.App"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Ecommerce"
        tools:replace="android:theme,android:allowBackup"
        tools:targetApi="31">
        <activity
            android:name=".presentation.ui.baseedit.screen.BaseEditActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.praregister.screen.PraRegisterActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.profile.screen.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.history.screen.HistorySearchActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.addaddress.screen.AddAddressActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.address.screen.AddressActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.editprofile.screen.EditProfileActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.checkout.screen.CheckoutActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.transaction.screen.TransactionActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.cart.screen.CartActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.menu.screen.MenuActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.category.screen.CategoryActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.detailproduct.screen.DetailProduct"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.help.screen.HelpActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.search.screen.SearchActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.pralogin.screen.PraLoginActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.done.DoneActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.newpassword.screen.NewPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.verification.screen.VerificationActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.forgetpassword.screen.ForgetPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.register.screen.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.login.screen.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.home.screen.HomeActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/path" />
        </provider>
    </application>

</manifest>